* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    font-size: 14px;
    color: #666;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    background-color: #f9eaf7;
}

@keyframes move {
    0% {
        transform: translate(-272px, -33px);
    }

    100% {
        transform: translate(304px, -33px);
    }
}

.biaoti {
    width: 100%;
    height: 70px;
    background-color: pink;
}

.biaoti h1 {
    transform: translate(69px, 14px);
    color: black;
}

.body {
    width: 80%;
    height: 300px;
    /* background-color: pink; */
    /* transform: translate(-62px, -33px); */
    overflow: hidden;
    animation: move 3s linear infinite;
}

.body img {
    width: 110%;
    height: 110%;
}

.cc {
    width: 90%;
    height: 500px;
    border: 2px solid pink;
    border-radius: 20px;
    margin: 0 auto 30px;
    text-align: center;
}

.cc p {
    margin: 10px 0;
}

.ww {
    width: 90%;
    height: 500px;
    border: 2px solid pink;
    margin: 0 auto;
    border-radius: 20px;
}

.ww img {
    width: 100%;
    height: 100%;
}

.tan {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.tan .nr {
    position: absolute;
    top: 27px;
    left: 21px;
    width: 90%;
    height: 94%;
    background-color: pink;
    border-radius: 30px;
    text-align: center;
}

.tan .nr p {
    margin: 20px 0;
    color: #ffffff;
    font-size: 15px;
}

.tan .nr p:nth-child(12) {
    font-size: 30px;
}

.tan .nr input {
    width: 50%;
    height: 65px;
    border-radius: 20px;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #fff;
}